.activity-spinner {
    animation: spin 1.0s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.activity-spinner-2 {
    animation: spin-2 0.7s linear infinite;
}

@keyframes spin-2 {
    0% {
        transform: rotate(360deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(0deg)
    }
}